.scissor {
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        background-color: #eca21b;
        border-radius: 100vmax;
    }

    >div>div {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 100vmax;
        background-color: rgb(255, 255, 255);

    }


}

@media(min-width:550px) {
    .scissor {
        >div {
            padding: 25px;
            box-shadow: 0 8px 0px #c26917;
        }

        >div>div {
            width: 150px;
            box-shadow: inset 0 8px 0px #babfd3;
        }

        img {
            width: 65px;
        }
    }
}

@media(max-width:550px) {
    .scissor {
        >div {
            padding: 15.3px;
            box-shadow: 0 6px 0px #c26917;
        }

        >div>div {
            width: 100px;
            box-shadow: inset 0 6px 0px #babfd3;
        }

        img {
            width: 48px;
        }
    }
}